.navbar-default .navbar-nav>li>a {
    font-family: URW Chancery L, cursive;
    color: black;
    font-size: 175%;
}

.navbar{
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar-default .navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-default .navbar-brand>h3{
    font-family: Snell Roundhand, cursive;
    color: rgb(15, 14, 14);
    font-size: 400%;
    display: inline-block;
    align-items: center;
    padding-left: 300px;
}

.navbar-brand>img {
    width:25%;
    margin-top: -7;
    display: inline-block;
    margin-left: 10px;
}
/* .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 20px;
} */